{% extends 'store/base.html' %}

{% block content %}
    {% include 'includes/navigation.html' %}
    {% for product in object_list %}
        <div>
            <p>{{ product.title }}</p>
            <p>Description: {{ product.description }}</p>
            <p>Price: {{ product.price }} $</p>
            <p>Qty.: {{ product.quantity }}</p>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="{% url 'update_product' product.id %}">Update</a>
                {% else %}
                    <form action="{% url 'add_purchase' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" value="{{ product.id }}" name="_product">Buy now</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}
