{% extends 'store/base.html' %}
{% block title %}Purchases{% endblock %}
{% block content %}
    <h2>Purchases</h2>
    {% for purchase in  object_list %}
        <div>
            {{ purchase }}
            {{ purchase.id }}
            {{ purchase.quantity }}
            {{ purchase.date }}
            {{ purchase.customer }}
            <form action="{% url 'add_return' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="{{ purchase.id }}" name="_purchase">Return</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
