{% extends 'store/base.html' %}
{% block title %}Purchases{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="message error_message"><span>{{ message }}</span></div>
    {% endfor %}
    <div class="list">
    <h2>Purchases</h2>
    {% for purchase in page_obj %}
        <div>
            <span>Product: {{ purchase }} {{ purchase.product.description }}</span>
            <span>Qty.: {{ purchase.quantity }}</span>
            <span>Total amount: {{ purchase.purchase_amount }} $</span>
            {% if user.is_superuser %}
                <span>Purchase ID: {{ purchase.id }}</span>
                <span>Customer: {{ purchase.customer }}</span>
            {% else %}
                {% if not purchase.returnpurchase %}
                <form action="{% url 'add_return' purchase.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="return" type="submit" ><span>Return</span></button>
                </form>
                    {% else %}
                    <h3>REFUND REQUEST MADE</h3>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% include 'includes/pagination.html' %}
{% endblock %}
