{% extends 'store/base.html' %}
{% block title %}Returns{% endblock %}
{% block content %}
    {% include 'includes/navigation.html' %}
    <h2>Returns</h2>
    {% for return in  object_list %}
        <div>
            {{ return }}
            {{ return.purchase.product.description }}
            {{ return.id }}
            {{ return.date }}
            {{ return.purchase.customer }}
            {% if user.is_superuser %}
                <form action="{% url 'delete_return' return.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">reject</button>
                </form>
                <form action="{% url 'delete_purchase' return.purchase.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">confirm</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
